*, body, html {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Baloo Tamma 2", cursive;
    text-align: center;
    background: rgb(8, 8, 8);
    background-size: cover;
}


.card {
    margin-left: 50px;
}
/*Logo*/
img {
    width: 250px;
    height: 150px;
}

/*Images*/
.card img {
    height: 360px;
    width: 100%;
}

/*Pop-up|grid_template*/
.modal, .card {
    color: rgba(255, 255, 255, 0.822)
}

/*Modal pop_up*/
.modal-img {
    height: 380px;
    opacity: 0.7;
    width: 65%;
    margin-left: 190px;
}

/*Error*/
#redFlag{
    visibility: hidden;
    color: white;
    margin-top: 100px;
}

/* This only changes this particular animation duration */
.animate__fadeInUp {
    --animate-duration: 6s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.747)
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }
